@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    /* main colors  */

    --white-100: #ffffff;


    --main-color: #1b7ce4;
    --main-color-30: #1b7ce44d;
    --main-color-55: #1b7ce48c;
    --main-color-75: #1b7ce4bf;

    /*   --main-color: red; */
    --gray-100: #797979;
    --black: #000;
    /* font family */
    --font-family-poppins: "poppins", Arial, sans-serif;
    --font-family-PTsans: "PT sans", "poppins", Arial, sans-serif;

    /* backgrounds */
    --bg-header-dark: #11111b;
    --bg-light: var(--white-100);
    --bg-color: #0a0a0f;
    --bg-dark: #11111b;
    --bg-dark-light: #121212;
    --bg-dark-light-75: #000000977;
    --bg-dark-lighter: rgb(33, 33, 33);
    --bg-light-dark: #cccccc;
    --bg-light-darker: #2A2A30;

    /* progress bar */
    --pg-dark: #444;
    --pg-dark-75: #111111ba;
    --pg-light: #777;

    /*  btn color */
    --btn-color-light: #ffffff;
    --btn-color-dark: #222;
    /*  bpx shadows */
    --box-shadow-light: 0 5px 10px var(--main-color-30);
    --box-shadow-dirk: 0 5px 10px rgba(0, 0, 0, 0.2);

    /* text color */
    --text-light: var(--white-100);
    --text-grey: #333;
    --text-grey-light: #666;

    --small-menu-border: #ffffff25;
    --blue-75: rgb(51, 129, 255);
    --blue-90-alpha-75: rgba(27, 123, 226, 0.75);
    --blue-90-alpha-55: rgba(27, 123, 226, 0.55);
    --blue-90-alpha-45: rgba(27, 123, 226, 0.45);
    --blue-90-alpha-30: rgba(27, 123, 226, 0.3);

    /* linear gradient */
    --footer-linear: linear-gradient(135deg, var(--main-color-55), var(--main-color-75));


    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 89%, 60%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    --bg-linear-gradient: linear-gradient(rgba(10, 10, 10, 0.7), rgb(10, 10, 10)), url(../img/BG-gray.jpg) center/cover;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-poppins);
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

body {

    height: 100vh;
    background-color: var(--black);
    width: 100%;
}

/* ========= Global setups ================================================== */
.container {
    display: flex;
}

section {
    min-height: 100vh;
    padding: 5rem 5% 2rem;

}

img {
    width: 20px;

}

a {
    text-decoration: none;
}

/*============================== main titles ===============================77 */
.main__heading {
    position: relative;
    text-align: center;
    margin-bottom: .5rem;

}

.main__heading h2 {
    font-family: var(--font-family-PTsans);
    font-size: 6rem;
    color: var(--text-grey-light);
    font-weight: 700;
    line-height: 7rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    max-width: 100%;
    transition: .7s ease;
}

.main__heading span {
    font-family: var(--font-family-PTsans);
    font-weight: 400;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    font-size: 3.5rem;
    text-shadow: 0px 3px 6px var(--main-color);
    color: var(--white-100);
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*  Button */
.btn {
    display: flex;
    align-items: center;
    text-align: center;
    /* column-gap: 0.7rem; */
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: .25rem;
    font-size: calc(1rem * 1.1);
    cursor: pointer;
    background-color: var(--main-color);
    height: 50px;
    width: fit-content;
    position: relative;
    color: var(--btn-color-light);
    padding-inline: 1rem;
    z-index: 1;
    transition: .4s;
}

.btn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}


.btn:hover::after {
    transform: scale(1);
    border: 1px solid #aaa;
    box-shadow: 0 0 18px 4px #1b7ce4aa;
}

.btn>i {
    font-weight: 600;
}

.btn>a {
    color: inherit;
}

.btn:active {
    transform: scale(.9);
}







/* ============ HEADER ============================== */
.header {

    position: fixed;
    width: 100%;
    z-index: 100;
    height: 70px;

}

.header__group {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem auto;
}

.header__wrapper {
    display: flex;
    justify-content: end;
    gap: 2.2rem;
    align-items: center;
}

.header__logo {
    padding-left: 4rem;
    height: 45px;
}

.header__logo img {
    height: 45px;
    width: 45px;
    cursor: pointer;
    transition: .5s ease;
}

.header__logo img:hover {
    transform: rotate(-360deg) scale(1.1);
}

.logo-in img {
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.header .menu .head {
    display: none;
}

.header .menu ul {
    list-style: none;
}

.header .menu>ul>li {
    display: inline-block;
}

.header .menu>ul>li:not(:last-child) {
    margin-right: 40px;
}

.header .menu a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--font-family-PTsans);
    font-size: 1.3rem;
    color: var(--white-100);
    line-height: 1.5;
    display: block;
}

.header .menu a.active {
    color: var(--main-color);
    background-size: 100% 1px;
}

/* az aláhúzó animácció ------------------------------------------------------------------------------------ */
.header .menu li a {
    padding-bottom: 0;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
}

.header .menu li a:hover {
    color: var(--main-color);
    background-size: 100% 1px;
}

.header-right {
    display: flex;
    padding-right: 30px;
}

.header-right>* {
    margin-left: 25px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.header-left .icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--white-100);
    font-size: 1.5rem;
    transition: .5s ease;
}

.language a {
    display: flex;

}

.language img {
    width: 40px;

    transition: 0.3s ease;
}


.language img:hover {
    transform: scale(1.2);
}

.header-left .icon-btn:hover {
    transform: scale(1.2);
    color: var(--main-color);
}

.header-right .open-menu-btn {
    display: none;
}





/* ===================== HOME section ==================================== */
.home {
    position: relative;
    min-height: 100vh;
    background: var(--bg-linear-gradient);
    color: var(--text-light);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;




}

.home-content {
    margin: 0 auto;
    min-width: 250px;
    gap: 2rem;
    max-width: 1600px;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;

}



.home-detail {
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.home-text,
.home-detail h1,
.home-detail p,
.home-title {
    font-family: var(--font-family-PTsans);
}

.home-title {

    font-size: 4.2rem;
    margin-bottom: 2rem;
}

.home-detail h1 {
    font-size: 3.2rem;

}


.home-text {
    color: var(--main-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-detail p {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    padding-right: 1.5rem;
}

.btn-group {
    display: flex;
    gap: 2rem;
}

.home-social-media {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

.soc-icon {
    font-size: 2.8rem;
    color: var(--main-color);
    transition: .3s ease;
}

.soc-icon:hover {
    transform: scale(1.2);

}

.soc-icon i:hover {
    color: var(--text-light);
}





.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.home-img img {
    border-radius: 50%;
    width: 100%;
    background-color: var(--pg-dark-75);
    box-shadow: 0 0 100px -20px var(--main-color);

}




/* ============== ABOUT section */
.about {
    height: 110vh;
    background-color: var(--bg-dark-light);
    color: var(--text-light);

}


/*  placeholder section */
.placeholder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3rem 10rem 3rem;
    min-height: 430px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../img/code-5113374burned_1920.jpg');
    background-size: cover/contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    overflow: hidden;


}

.placeholder::before {
    content: "";
    position: absolute;
    /* width: 0;
    height: 0; */
    border-style: solid;
    border-width: 0 0 30px 100vw;
    /* Felülről, jobbról, alulról, balról */
    border-color: transparent transparent transparent var(--bg-dark-light);
    /* Átlátszó, a háromszög színe, átlátszó, átlátszó */
    top: 0;
    left: 0;
    z-index: 100;

}

.placeholder::after {
    content: "";
    position: absolute;
    /*  width: 0;
    height: 0; */
    border-style: solid;
    border-width: 0 0 30px 100vw;
    /* Felülről, jobbról, alulról, balról */
    border-color: transparent transparent var(--bg-dark-light) transparent;
    /* Átlátszó, a háromszög színe, átlátszó, átlátszó */
    bottom: 0px;
    right: 0;
    z-index: 100;
}

.placeholder-content,
.placeholder-content span {
    max-width: 800px;
    line-height: 60px;
    font-family: var(--font-family-PTsans);
    color: #ffffff;
    font-size: 2.5rem;

}

.placeholder-content span {
    display: block;
    margin-top: 1.5rem;
}



/* ============ skills section ==============  */
.skills {
    background-color: var(--bg-dark-light);
}

.skills .main__heading h2 {
    color: var(--text-grey-light);
}


.skill-category {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    width: 100%;

    margin-top: 4rem;

}

.skill-box {
    flex-grow: 2;
    position: relative;
    /*  min-width: 230px;
    max-width: 350px; */
    width: 30%;
    background-color: var(--bg-light-darker);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 10px;
}


.skill-title {
    font-family: var(--font-family-poppins);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--text-light);
    text-align: center;
}

.skill {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--small-menu-border);
    padding-bottom: 30px;

}

.skill:nth-child(2) {
    border-top: 1px solid var(--small-menu-border);
    padding-top: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.text-container {
    color: var(--text-light);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.text-container .title {
    font-size: 1.2rem;
    font-family: var(--font-family-poppins);
}

.percent {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-color);
}

.progress-bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: space-between;
}

.progress-bar-wrapper {
    position: relative;
    width: 100%;
    min-height: 12px;
    background: var(--pg-dark);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;


}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 0 15px 15px 0;
    height: 12px;
    background-color: var(--main-color);

}


/* ============ portfolio section ==========*/
.portfolio {
    background-color: var(--bg-dark-light);
}








/* ============ CONTACT section */
.contact {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    min-height: 100vh;
    padding-block: 70px;
    background: var(--bg-dark-light);

}

.contact .main__heading h2 {
    color: var(--text-grey-light);
}



/* section left side  */
.container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

}

.contact__container {
    padding-top: calc(3rem * 2);

}

.contact__icon {

    font-size: clamp(2rem, 4vw, 2.8125rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact__info-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__info-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.contact__info-item i {
    color: var(--main-color);
}

.contact__title {
    color: var(--white-100);
    text-transform: capitalize;
    font-family: var(--font-family-poppins);
    font-size: clamp(1.875rem, 4vw, 2.1875rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact__subtitle {
    color: var(--gray-100);
    font-family: var(--font-family-poppins);
    font-size: clamp(0.875rem, 4vw, 1rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* section right side - form */
.form__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.form__group {
    position: relative;
}

.form__label {
    font-family: var(--font-family-poppins);
    position: absolute;
    top: calc(50px / 2);
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--bg-dark-light);
    padding-inline: 5px;
    text-transform: capitalize;
    transition: all .3s ease;
    color: var(--white-100);
    font-size: clamp(0.875rem, 4vw, 1rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__label.focus {
    top: 0;
    font-size: calc(1rem / 1.3);
}

.form__input {
    width: 100%;
}

.input-primary {
    outline: none;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: calc(1rem *1.1);
    color: var(--white-100);
    padding-inline: 5px;
    padding-left: 10px;
    background-color: transparent;
    transition: background .3s ease;
}

textarea.form__input {
    resize: vertical;
    padding-block: 5px;
    min-height: 150px;
}

.form__status-box {
    height: 1.1rem;
    color: var(--gray-100);
}

.form__status-box p {
    font-size: clamp(0.875rem, 4vw, 1rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ======== foter section */

.footer {
    height: 300px;
    background: var(--footer-linear), url("../img/header_dark.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 1rem 2rem .5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
  
    
}
.footer-detail {
    height:100%;
    width: 90%;
   display: flex;
   justify-content: center;
   gap: 3rem;
} 
.text {
    width: 100%;
    color: #fff;
    text-align: start;
    font-size: .9rem;
    font-weight: 400;
}
.footer-header {
    width: 1005;
    color: #fff;
   margin-bottom: 2rem;
}
.footer-header h3 {
     font-size: 2rem;
    font-family: var(--font-family-PTsans);
    font-weight: 400;
}
.f-icon {
    width: 100px;
    height: 100px;
     background: #a5a5a555 ;
     padding: .5rem;
     border: 1px solid var(--main-color);
     border-radius: 6px;
     cursor: pointer;
     transition:  .3s ease;
}
.f-icon:hover {
    transform: scale(1.1);
}


.scrollUp {
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 100000;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
    opacity: 0;
    visibility: hidden;
}



.scrollrUp abbr {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100000;

}

.scrollUp i {

    font-weight: 700;
    font-size: 2rem;
}

.show {
    opacity: 1;
    visibility: visible;
}














/* -----------------  MEDIA SCREEN ---------------------------------------------------------------- */
@media screen and (max-width: 1400px) {
    .home-img {
        padding: 0;
    }

    .home-detail h1 {
        font-size: 3rem;
    }

    .home-detail p {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 1rem;
    }
}

@media (max-width:1270px) {
    .skill-box {
        position: relative;
        min-width: 230px;
        max-width: 450px;
        width: 45%;
        background-color: var(--bg-light-darker);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        margin: 10px;
    }

    .home-content {
        gap: 1rem;
    }

    .home-title {
        font-size: 3.8rem;
        margin-bottom: 1.6rem;
    }

    .home-detail h1 {
        font-size: 2.5rem;
    }
}



















@media (max-width:991px) {
    .header {
        justify-content: space-between;
    }

    .menu {
        max-height: 100vh;
        /* maximum magasság 100 viewport height (teljes képernyő magasság) */
        /*  overflow-y: auto; */
    }


    .main__heading h2 {
        font-size: 5rem;
    }

    .main__heading span {
        font-size: 2rem;
    }

    .header .menu {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: auto;
        background-color: var(--bg-dark);
        padding: 15px 30px 30px;
        overflow-y: auto;
        z-index: 1;
        box-shadow: var(--box-shadow-light-footer);
        transform: translateY(-110%);

    }

    .header .menu.open {
        transform: none;
    }

    .logo {
        padding-left: 2rem;
    }

    .logo-in {
        padding-left: 0;
    }


    .wrapper {
        gap: 0rem;
    }

    .header .menu .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }




    .home {
        display: block;
    }

    .home-content {
        grid-template-columns: 1fr;

    }

    .home-img {
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }

    .home-img img {
        width: 50%;
    }

    .home-detail {
        align-items: center;
    }

    .home-detail p {
        padding: 0 3rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .btn-group {
        width: 100%;
        justify-content: space-evenly;
    }

    .home-social-media {
        width: 100%;
        justify-content: center;
        gap: 4rem;
        margin-top: 1.2rem;
    }



    /* az menüt záró X létrehozása ---------------------------------------------------------------- */
    .header .menu .close-menu-btn {
        height: 35px;
        width: 35px;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        border: none;
        transition: 0.5s ease;
    }

    .header .menu .close-menu-btn:hover {
        transform: scale(1.4);
    }

    .header .menu .close-menu-btn::before,
    .header .menu .close-menu-btn::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: var(--white-100);
    }

    .header .menu .close-menu-btn:hover::before,
    .header .menu .close-menu-btn:hover::after {
        background-color: var(--main-color);
    }

    .header .menu .close-menu-btn::before {
        transform: rotate(45deg);
    }

    .header .menu .close-menu-btn::after {
        transform: rotate(-45deg);
    }

    /* ------------------------------------------------------------------------------------------- */
    .header .menu>ul>li {
        display: block;
        text-align: center;
    }

    .header .menu>ul>li:not(:last-child) {
        margin-right: 0;
    }

    /* hamburger menüben a linkek aláhúzása */
    .header .menu li {
        border-bottom: 1px solid var(--small-menu-border);
    }

    .header .menu li:first-child {
        border-top: 1px solid var(--small-menu-border);
    }

    .header .menu>ul>li>a {
        padding: 12px 0;
    }

    .header .menu li a:hover {
        background-size: 0 0px;
    }

    .header .menu li a.active {
        background-size: 0 0px;
    }





    /* a hamburger menü ikon létrehozása--------------------------------- */
    .header-right .open-menu-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 44px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border: none;
        transition: .5s ease;
        margin-left: 0;
    }

    .header-right .open-menu-btn:hover {
        transform: scale(1.2);
    }

    .header-right .open-menu-btn:hover .line {
        background-color: var(--main-color);
    }

    .header-right .open-menu-btn .line {
        height: 2px;
        width: 30px;
        background-color: var(--white-100);
        position: absolute;
    }


    .header-right .open-menu-btn .line-1 {
        transform: translateY(-8px);
    }

    .header-right .open-menu-btn .line-3 {
        transform: translateY(8px);
    }

    .placeholder-content {
        line-height: 50px;
        font-size: 2rem;
    }

    .placeholder-content span {
        display: block;
        margin-top: 1rem;
        font-size: 2rem;
    }

    .skill-box {
        padding: 1rem;
    }

    .text-container.title {
        font-size: 1rem;
    }

    .text-container .title {
        font-size: 1rem;
    }

    .percent {
        font-size: 1rem;
    }

    /* ---------------------------------------------------------------------------------------- */
    .contact__info-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form,
    .form__group {
        width: 100%;
    }

    .form__container {

        align-items: center;
    }

    .form__content {
        width: 100%;
    }
    .footer-detail {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .f-icon {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 668px) {
    .main__heading h2 {
        font-size: 3.42rem;
    }

    .contact__info-item {
        width: 100%;


    }

    .header__logo {
        padding-left: 2rem;
    }

    /* home */
    .home-detail {
        padding: 1.2rem;
    }


    /*  contact */
    .contact__info-item a {
        flex-direction: column;
    }

    .contact__info-item .group {
        text-align: center;
    }

    .contact__container {
        padding-top: 3rem;
    }



    /* skills */
    .skill-box {
        max-width: none;
        width: 100%;

    }


    /* placeholder */
    .placeholder {
        padding: 3rem 5rem 3rem 5rem;
    }

    .placeholder-content {
        line-height: 40px;
        font-size: 1.5rem;
    }

    .placeholder-content span {
        font-size: 1.5rem;
    }
}









@media screen and (max-width: 450px) {
    .main__heading h2 {
        font-size: 3rem;
    }

    .main__heading span {
        font-size: 1.45rem;
        top: 70%;
    }

    .header-right {
        padding-right: 15px;
    }

    .header__logo {
        padding-left: 15px;
    }

    .contact__info-item {
        width: 100%;
    }

    section {
        padding: 3rem 5% 1rem;
    }

    .placeholder {
        padding: 2rem 3rem 2rem 3rem;
    }

    .placeholder-content {
        line-height: 35px;
        font-size: 1.4rem;
    }

    .placeholder-content span {
        margin-top: .5rem;
        font-size: 1.4rem;
    }

    .home {
        padding: 60px 0 2rem 0;
    }

    .home-content {
        width: 100%;
        grid-template-columns: auto;
    }

    .home-img {
        padding: 0;
    }

    .home-img img {
        border: none;
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 20px var(--main-color);
    }

    .btn-group {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%;
        align-items: center;
        justify-content: center;
        padding-inline: .6rem;
    }

    .home-social-media {
        gap: 2rem;
    }

    .home-detail p {
        padding: 0 1rem;

    }

    .home-title {
        font-size: 3.2rem;
    }

    .home-detail h1 {
        font-size: 2rem;
        text-align: center;
    }

    .textline {
        font-size: 2.3rem;
    }
    .footer {
        padding: 1rem 0 .5rem 0;
    }
   .footer-detail {
    gap: 1rem;
   }
    .f-icon {
        width: 50px;
        height: 50px;
    }
    .text {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .main__heading h2 {
        font-size: 2rem;
    }
}


/* ============= DARK MODE ============= */
[data-theme="light"] {
    --white-100: #333;
    --bg-linear-gradient: linear-gradient(rgba(255, 255, 255, .8), rgb(255, 255, 255)), url(../img/BG-gray.jpg) center/cover;
    --black: #fff;
    --bg-dark: #f0f0f0;
    --bg-header-dark: #f0f0f0;
    --bg-dark-light: #f0f0f0;
    --small-menu-border: var(--main-color);
    --bg-light-darker: var(--bg-light-dark);
    --pg-dark: var(--pg-light);
    --bg-dark-light-75: #ffffff11;

}